html {
  font-family: Roboto;
  background-image: url(/img/background\ 1.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  background-size: cover;
}

.container {
  height: 100vh;
  padding: 80px 0 0 0;
}

.logo-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 1028px;
  height: 61px;
  gap: 10px;
  color: white;
  align-items: center;
}

.logo-wrapper img,
span,
a,
p {
  margin: 0;
}

.logo-wrapper img {
  display: flex;
  width: 53px;
  height: 47px;
}

.logo-wrapper span {
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
}

.logo {
  display: flex;
  flex-direction: column;
  font-size: 29px;
  font-weight: 700;
  line-height: 29px;
  text-transform: uppercase;
}

.logo-wrapper:hover {
  color: #f26522;
  transition: 0.5s ease-in-out;
}

.logo-wrapper:not(:hover) {
  color: white;
  transition: 0.5s ease-in-out;
}

.logo-image1:hover {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.logo-image1:not(:hover) {
  transition: 0.5s ease-in-out;
}

.logo-image1 {
  position: absolute;
}

.header-title {
  margin-right: 0;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
  align-items: flex-end;
  gap: 19px;
}

.header-title p {
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  text-transform: none;
}

.card-item-container {
  width: 1200px;
  margin: 30px auto;
  display: flex;
  gap: 60px;
  justify-content: center;
  flex-wrap: wrap;
}

.card-item {
  width: 340px;
  height: 260px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0;
  align-items: center;
  gap: 20px;
  justify-content: flex-end;
}

.card-item:hover {
  color: #f26522;
  transition: 0.5s ease-in-out;
}

.card-item:not(:hover) {
  color: white;
  transition: 0.5s ease-in-out;
}

.card-item p {
  display: flex;
  align-items: center;
}

.card-item1 {
  width: 300px;
  height: 220px;
  background-image: url(/img/image.png);
}

.card-item2 {
  width: 300px;
  height: 220px;
  background-image: url(/img/image2.png);
}

.card-item3 {
  width: 300px;
  height: 220px;
  background-image: url(/img/image3.png);
}

.card-item4 {
  width: 300px;
  height: 220px;
  background-image: url(/img/image4.png);
}

.card-item5 {
  width: 300px;
  height: 220px;
  background-image: url(/img/image5.png);
}

.card-item6 {
  width: 300px;
  height: 220px;
  background-image: url(/img/image6.png);
}

.card-item-description {
  display: flex;
  align-items: center;
  background-color: #f26522;
  width: 300px;
  height: 55px;
}

.card-item-description-container {
  align-items: flex-end;
  position: absolute;
  display: flex;
  width: 300px;
  height: 220px;
  opacity: 0;
}

.card-item-description-container:hover {
  color: white;
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.card-item-description-container:not(:hover) {
  transition: 0.5s ease-in-out;
  opacity: 0;
}

.card-item-price {
  display: flex;
  flex-direction: column;
}

.card-item-price p {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 10px;
}

.card-item-details {
  display: flex;
  gap: 20px;
  padding-top: 10px;
}

.card-item-details a {
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
  color: white;
  text-decoration: none;
}

.vector-image img {
  width: 5px;
  height: 10px;
}

footer {
  width: 306px;
  height: 50px;
}

footer p {
  margin-top: 60px;
  display: flex;
  color: #fff;
  text-align: center;
  font-family: Roboto;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 12px;
}
